<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ClienteServlet</servlet-name>
        <servlet-class>servlets.ClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductoServlet</servlet-name>
        <servlet-class>servlets.ProductoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarritoServlet</servlet-name>
        <servlet-class>servlets.CarritoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SugerenciaServlet</servlet-name>
        <servlet-class>servlets.SugerenciaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarritoOperaciones</servlet-name>
        <servlet-class>servlets.CarritoOperaciones</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClienteServlet</servlet-name>
        <url-pattern>/ClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductoServlet</servlet-name>
        <url-pattern>/ProductoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarritoServlet</servlet-name>
        <url-pattern>/CarritoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SugerenciaServlet</servlet-name>
        <url-pattern>/SugerenciaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarritoOperaciones</servlet-name>
        <url-pattern>/CarritoOperaciones</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
